/*
 * Hide general product fields
 */

.postbox-header #product-type option[value='external'],
.postbox-header #product-type option[value='grouped'] {
  display:none!important;
}

.woocommerce_attribute_data.wc-metabox-content table tr:nth-child(2){
  display:none!important;
}


/*
 * Hide Bundle fields
 */

._wc_pb_edit_in_cart_field.bundled_product_data_field,
.bundled_product_data_field.form-field._wc_pb_add_to_cart_form_location_field,
.bundle_group_mode.bundled_product_data_field.form-field._wc_pb_group_mode_field,
.options_group_general {
  display: none!important;
}

.options_group.options_group_config {
  .optional,
  .quantity_max,
  .shipped_individually,
  .priced_individually,
  .discount {
    display: none!important;
  }
}

.options_group.options_group_advanced {
  .item_visibility,
  .price_visibility,
  .override_title,
  .custom_title,
  .override_description,
  .custom_description,
  .hide_thumbnail {
    display: none!important;
  }
}


/*
 * Hide Variations field
 */
.woocommerce_variable_attributes .options label:nth-child(2),
.woocommerce_variable_attributes .options label:nth-child(2),
.form-field.variable_weight0_field.form-row,
.form-field.form-row.dimensions_field,
.form-field.variable_description0_field {
  display: none!important;
}

/*
 * Hide Linked products fields
 */
#linked_product_data {
  .options_group:last-of-type,
  .options_group:first-of-type {
    display: none!important;
  }

  .options_group .form-field:last-of-type {
    display: none!important;
  }
}
